#firRec{
	width: 465px;
	height: 650px;
	position:absolute;
	top:0px;
	left:0px;
	background-color: #E0A96D;
	display:flex
}

#subm{
	width: 350px;
	height: 350px;
	position:absolute;
	top:130px;
	left:40px;
	border-radius: 15px;
	background-color: #201E20;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
	0px 4px 4px 0px rgba(0, 0, 0, 0.25),
	0px 4px 4px 0px rgba(0, 0, 0, 0.25),
	0px 4px 4px 0px rgba(0, 0, 0, 0.25),
	0px 4px 4px 0px rgba(0, 0, 0, 0.25),
	0px 4px 4px 0px rgba(0, 0, 0, 0.25),
	0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.subd{
	animation-name:animate__jello;
	animation-duration: 10s;
}

button{
	width: 276px; height: 58px;
	position:absolute;
	top:35px;
	left:10px;
	border:0px;
	text-align:left;
	border-radius: 15px;
	background-color: #E0A96D;
	color:white;
	font-family:Malibu;
	font-size:20px
}

.heartd{
	width: 276px; height: 58px;
	position:absolute;
	top:200px;
	left:10px;
	text-align:left;
	color:white;
	font-family:Malibu;
	font-size:20px
}

#diab{
	width: 276px;
	height: 58px;
	position:absolute;
	top:35px;
	left:10px;
	border:0px;
	text-align:left;
	border-radius: 15px;
	color:white;
	font-family:Malibu;
	font-size:20px;,
	background-color: #E0A96D
}

#heartd1{
	width: 276px;
	height: 58px;
	position:absolute;
	top:200px;
	left:10px;
	text-align:left;
	border:0;
	border-radius: 15px;
	color:white;
	font-family:Malibu;
	font-size:20px;
}


#secRec{
	width: 915px;
	height: 650px;
	justify-content: right;
	left:450px;
	top:0px;
	position:absolute;
	/*display:flex;*/
	background-color: #DDC3A5;
}

#welcome{
	/*width: 708px;*/
	/*height: 52px;*/
	left: 90px;
	top: 15px;
	position: absolute;
	color: white;
	font-size: 40px;
	font-family: Malibu;
	font-weight: 400;
	word-wrap: break-word;
}

.inprec1{
	width: 219px;
	height: 40px;
	left: 70px;
	/*top: 136px;*/
	position: absolute;
	border-radius: 15px;
	background: #D9D9D9;
	text-align:center;
	color:white;
	font-weight:400;
	font-size:20px;
	font-family:Malibu;
	border: 0;
}

.inprec2{
	width: 219px;
	height: 40px;
	left: 500px;
	/*top: 136px;*/
	position: absolute;
	border-radius: 15px;
	background: #D9D9D9;
	text-align:center;
	color:white;
	font-weight:400;
	font-size:20px;
	font-family:Malibu;
	border: 0;
}

#top1{
	top: 136px;
}

#top2{
	top: 220px;
}

#top3{
	top: 304px;
}

#top4{
	top: 388px;
}

.submitTest{
	width: 219px;
	height: 40px;
	left: 35px;
	top: 500px;
	position: absolute;
	background: #D9D9D9;
	border-radius: 15px;
	font-size: 20px;
	font-family: Malibu;
	font-weight: 400;
	word-wrap: break-word;
	color: white; border: 0
}

#response{
	width: 400px;
	height: 41px;
	left: 35px;
	top: 550px;
	position: absolute;
	font-size: 20px;
	font-family: Malibu;
	font-weight: 400;
	word-wrap: break-word;
	color: white;
}